<div class="container">
	<h2 class="main_heading">More jazz in Herts</h2>

	<p>Check these sites for other jazz venues in the county.</p>
	<p>If your venue isn't here, please email us with the details.</p>

	<ul>
		<li>
			<a href="http://www.berkhamstedjazz.co.uk/home" target="_blank" style="text-decoration:underline;">Berkhamsted Jazz Club</a>
		</li>
		<li>
			<a href="http://www.chipperfieldjazz.com" target="_blank" style="text-decoration:underline;">Chipperfield Jazz</a>
		</li>
		<li>
			<a href="http://www.highlanderhitchin.co.uk" target="_blank" style="text-decoration:underline;">The Highlander, Hitchin</a>
		</li>
		<li>
			<a href="http://www.watfordcolosseum.co.uk" target="_blank" style="text-decoration:underline;">Watford Colosseum</a>
		</li>
		<li>
			<a href="http://www.junglebarhertford.com/p/regular-events.html" target="_blank" style="text-decoration:underline;">Jungle Bar, Hertford</a>
		</li>
	</ul>
</div>