<div style="position:absolute;left:217px;top:146px;width:527px;height:409px; background-color:#656565; border: 3px solid #141414;overflow:hidden;">
<p class="Body-P"><span class="Body-C-C1">More jazz in Herts</span></p>
<p class="Body-P-P0"><span class="Body-C-C2">Check these sites for other jazz venues in the county. </span></p>
<p class="Body-P-P0"><span class="Body-C-C2">If your venue isn’t here, please email us with the details.</span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.berkhamstedjazz.co.uk/home" target="_blank" style="text-decoration:underline;">Berkhamsted Jazz Club</a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.chipperfieldjazz.com" target="_blank" style="text-decoration:underline;">Chipperfield Jazz</a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.highlanderhitchin.co.uk" target="_blank" style="text-decoration:underline;">The Highlander, Hitchin</a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.watfordcolosseum.co.uk" target="_blank" style="text-decoration:underline;">Watford Colosseum</a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.junglebarhertford.com/p/regular-events.html" target="_blank" style="text-decoration:underline;">Jungle Bar, Hertford</a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.liveandletlive.co/" target="_blank" style="text-decoration:underline;"><br></a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.theoldbarge.co.uk/events.html" target="_blank" style="text-decoration:underline;"><br></a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.broxbournerowingclub.org/jazz/" target="_blank" style="text-decoration:underline;"><br></a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.broxbournerowingclub.org/jazz/" target="_blank" style="text-decoration:underline;"><br></a></span></p>
<p class="Body-P-P0"><span class="Body-C-C2"><a href="http://www.broxbournerowingclub.org/jazz/" target="_blank" style="text-decoration:underline;"><br></a></span></p>
</div>