<div class="container" id="history">
  <h2 class="main_heading">Covid 19 Protocols</h2>

  <p>
    Our friends at The Maltings have developed the following approach to managing the risk which we fully support:
  </p>

  <hr style="margin-bottom: 40px" />

  <h3>
    At the performance
  </h3>

  <p>
    Seats will be arranged in pairs. If your booking is for an odd number of tickets, the odd seat will blocked out to preserve social distancing. If this applies to your booking, we encourage you to bring a friend, buy the odd ticket or make a donation to The Maltings Theatre We are already operating at a significantly reduced capacity – less than 50% of our normal size – and each seat that cannot be sold represents lost revenue and makes it more difficult for the theatre to operate sustainably in this challenging time.
  </p>

  <p>
    Doors will open 30 minutes before the start of the performance. A socially distanced queueing system will be in operation. When you enter the building we will ask you to move straight to your seats rather than waiting in the foyer to ensure we can maintain social distancing.
  </p>

  <p>
    Please bring your ticket on your phone if possible to enable us to maintain a contactless front of house system.
  </p>

  <p>
    Masks should be worn when you are moving around the venue but you may take your mask off when seated in the auditorium if you are enjoying a drink from our bar.
  </p>
  <p>
    Our bar will be open and we will be taking orders and serving drinks at your seat in the auditorium. You will be able to order by text from half an hour before the performance and during the interval, if the performance you are attending includes one. The bar will not be open after the performance. We will not be accepting cash – contactless card payments only please.
  </p>
  <p>
    A one way system will be in operation throughout the venue to ensure we can maintain social distancing. This may mean that you have to take a longer route than normal. Please follow the instructions given by our front of house team.
  </p>
  <p>
    The toilets in the foyer will not be open – instead we will ask you to use the toilet facilities adjacent to the theatre on level 2 of the Maltings Shopping Centre.
  </p>
  <p>
    At the end of the performance we will release the audience by row. Please wait to be called by our front of house team to ensure we can maintain social distancing.
  </p>
  <p>
    Theatres are not subject to the 10pm finishing time for other hospitality venues, although we expect most productions in our Autumn 2020 season to finish by this time.
  </p>
  <p>
    These measures are based on current government guidelines and regulations, but are subject to change should government guidelines and regulations be altered.
  </p>

  <h3>
    We promise to keep you feeling safe by:
  </h3>
  <ul>
    <li>Restricting visitor numbers</li>
    <li>Rearranging our auditorium to enable social distancing</li>
    <li>Selling tickets from a seating plan</li>
    <li>Leaving seats unsold where necessary</li>
    <li>Providing a no-quibble exchange on your booking for another performance in the 2020 or 2021 season</li>
    <li>Offering a warm welcome at a distance</li>
    <li>Patrolling our venue to monitor visitor activity</li>
    <li>Using one-way systems where necessary to enable social distancing</li>
    <li>Carrying out an enhanced cleaning regime</li>
    <li>Keeping the venue well ventilated – we have removed a section of the auditorium wall to facilitate this</li>
    <li>Providing personal protective equipment to our staff</li>
    <li>Providing hand sanitiser stations throughout the venue</li>
    <li>Operating a paperless and cashless system</li>
    <li>Creating shows which enable our actors to remain socially distanced</li>
    <li>Operating separate zones for cast and audience members</li>
  </ul>

  <h3>
    In return, please show you care by:
  </h3>
  <ul>
    <li>Keeping to the arrival time specified on your booking</li>
    <li>Showing your ticket on a mobile device where possible</li>
    <li>Keeping two metres away from other visitors and staff when moving around the venue</li>
    <li>Following signage and instructions given by our staff</li>
    <li>Supporting our staff by showing patience whenever queuing is required</li>
    <li>Using hand sanitiser when required</li>
    <li>Wearing a mask, unless you are enjoying a drink from our bar</li>
    <li>Keeping your belongings with you at all times</li>
    <li>Leaving our seating in its set position to ensure social distancing is maintained</li>
    <li>Being patient as you wait to exit and waiting your turn to leave until indicated by our staff</li>
  </ul>
</div>