<div class="container" id="history">
  <h2 class="main_heading">Covid 19</h2>
  <p>Please refer to <a href='https://ovo.org.uk/covid' targte='_blank'>ovo.org.uk/covid</a> for The Maltings Theatre Covid-19 measures.</p>
</div>