<% page_title "The Maltings Arts Theatre" %>
<% meta_tag :description, "Herts Jazz Club members enjoy reduced admission prices to around 40 gigs per year plus more at the Herts Jazz Festival, saving over £130!" %>

<div class="container" id="venue_info">

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h2 class="main_heading">Join Herts Jazz Club</h2>

			<ul>
				<li>£40 single membership</li>
				<li>£60 couple</li>
			</ul>

			<p>Herts Jazz Club members enjoy reduced admission prices to around 40 gigs per year plus more at the Herts Jazz Festival, saving over £130!</p>

			<p>Membership can be bought at our regular gigs (cash, card or cheque). Email us for more details at <a href='mailto:info@hertsjazz.co.uk'>info@hertsjazz.co.uk</a>
			<br /><em><small>Please note: members' guests pay normal prices</small></em></p>

			<h2 class="main_heading">Venue</h2>

			<p>Our gigs take place at <a href='http://www.maltingsartstheatre.co.uk/' target="_blank">The Maltings Arts Theatre</a>, St Albans every Tuesday from 7.30pm to 10.00pm.</p>

			<p>Address:<br />

				<b>The Maltings Arts Theatre, Level 2,<br />
				26 The Maltings<br />
				St Albans<br />
				AL1 3HL</b></p>

			<p>Phone: <b>0333 666 3366</b></p>

			<p>Parking is <b>£2.50</b> (you can exchange your parking token at the bar)</p>

			<a href='/current-season' class='btn btn-success'>Choose a gig and book your tickets online</a>

			<p>Alternatively you can book in person at St Albans Central Library at The Maltings (cash only) ...or on the door.</p>
		</div>

		<div class="col-md-6 col-sm-12">
			<%= image_tag "maltings-map.jpg", alt: "The Maltings map", width: '100%' %>
		</div>
	</div>
</div>