<div class="container" id="venue_info">
	<h2 class="main_heading">Herts Jazz moves to The Maltings</h2>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<p>From 3 April 2018, Herts Jazz will be at <a href='http://www.maltingsartstheatre.co.uk/' target="_blank">The Maltings Arts Theatre</a>, St Albans every Tuesday from 7.30pm to 10.00pm.</p>

			<p>Address:<br />

				<b>The Maltings Arts Theatre, Level 2,<br />
				26 The Maltings<br />
				St Albans<br />
				AL1 3HL</b></p>

			<p>Phone: <b>0333 666 3366</b></p>

			<p>Parking is <b>£2.50</b> (you can exchange your parking token at the bar)</p>

			<a href='/current-season' class='btn btn-success'>Choose a gig and book your tickets online</a>

			<p>Alternatively you can book in person at St Albans Central Library at The Maltings (cash only) ...or on the door.</p>
		</div>

		<div class="col-md-6 col-sm-12">
			<%= image_tag "maltings-map.jpg", alt: "The Maltings map", width: '100%' %>
		</div>
	</div>
</div>