@import "froala_editor.min";
@import "froala_style.min";
@import "vendor/font-awesome.min";
// @import "font-awesome-sprockets";

.nested-fields {
	overflow: hidden;

	.field {
		float: left;
		padding: 3px 2%;

		&.sort {
			padding: 10px 15px 10px 0;
			width: 15%;
			padding-left: 0;

			input {
				width: 100%;
				font-size: 12px;
				padding: 4px 6px;
			}
		}

		&.choose {
			padding: 12px 0;
			width: 50%;
			select {
				width: 100%;
				font-size: 16px;
				outline: none;
			}
		}

		&.remove {
			padding: 8px 0 10px 22px;
			width: 20%;
			a {
				display: block;
				width: 100%;
			}
		}
	}
	& + .links {
		margin-top: 20px;
	}
}