@import "_variables";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "nav";

a, a:link, a:hover, a:visited, a:active {
	color: $link;
}

h1, h2, h3, h4, h5, .btn {
	font-family: 'Roboto Condensed', sans-serif;
}

h2.main_heading {
	margin-bottom: 20px;
}

.btn {
	color: #fff !important;
}

.btn-success {
	background-color: darken($link, 8%);
	border-color: darken($link, 10%);
}

.btn-primary {
	background-color: darken($blue, 10%);
	border-color: darken($blue, 12%);
}

#newsletter_btn {
	background-color: $blue;
	border-color: darken($blue, 5%);
}

main {
	margin-top: 30px;
}

.container#history {
	img {
		margin: 0;
		width: 100%;
	}

	figcaption {
		margin-bottom: 20px;
		color: #ccc;

		a {
			text-decoration: underline;
		}
	}
}

.container#venue_info {
	.row {
		padding-bottom: 40px;
	}
}

#home_carousel {
	height: 450px;
	overflow: hidden;

	.carousel-inner {
		height: 100%;

		.carousel-item {
			height: 100%;

			img {
				width: 100%;
			}
		}
	}
}

.featurette-image {
	width: 500px;
	border-radius: 3px;
}

form#newsletter-form,
form#season-form {
	width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

  .btn {
  	margin-top: 6px;
  }
}

#home {
	.marketing {
		h2.featurette-heading {
			margin-bottom: 20px;
		}

		.item {
			height: 450px;
			position: relative;

			img {
				border-radius: 3px;
				width: 100%;
			}

			h3 {
				font-size: 1.6em;
				margin-top: 6px;
			}

			p.buttons {
				position: absolute;
				bottom: 0;
			}
		}
	}
}

@import "gigs_seasons";