body.mobile {

	form#newsletter-form,
	form#season-form {
		min-height: 67vh;
	}

	header {
		padding: 10px 0;

		#menu_btn {
			margin-top: 13px;

			svg {
				color: #6c757d;
			}
		}

		nav {
			padding-top: 1em;

			#newsletter_nav_item {
				padding-top: 10px;
			}

			.bd-toc-link {
				display: block;
				padding: .35rem 0;
				font-weight: 500;
				color: rgba(0,0,0,.65);

			}
		}
	}

	#home {
		.marketing {
			.item {
				height: initial !important;
				padding-bottom: 46px;
				margin-bottom: 15px;
			}
		}
	}

	.container#seasons{
		.gig {
			height: initial;

			h5 {
				margin-bottom: 0;
			}

			div.buttons {
				position: static !important;
				width: initial !important;
				margin-bottom: 15px;
			}

			img {
				width: 100%;
			}
		}
	}

	.container#gig {
		#back_to_season {
			display: none;
		}

		#photo_and_desc {
			padding-bottom: 20px;
		}
	}

	footer {
		background: #ededed;
		padding: 17px 15px 15px;

		#info_col {
			padding-right: 0;
		}

		#social_col {
			text-align: right;
			padding: 5px 20px 0 0;

			.nav-link {
				width: 37px;
				display: inline-block;

				&#twitter  {
					color: #6999d0;
				}
			}
		}
	}
}
