<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdown_archive">
  <% list.each do |year, data| %>
  	<li class="dropdown-submenu">
		  <a class="dropdown-item" href='#' tabindex="-1">
		  	<%= year %>
		  </a>
		  <ul class="dropdown-menu">
		    <% data.each do |item| %>
		      <li class="dropdown-item">
		      	<a class="dropdown-item" href="/seasons/<%= item[:id] %>"><%= item[:name] %></a>
		      </li>
		    <% end %>
		  </ul>
		</li>
  <% end %>
</ul>